.CommentEditor {

    height: (100% / 3) * 2;

    display: grid;
    grid-template-areas:
        "A   B"
        "C   C"
        "D   D"
        "E   F";

    grid-template-rows: 40px auto 40px 40px;

    .btnNew {
        grid-area: A;
    }

    #txtId {
        border-color: B;
    }

    .txaBody {
        grid-area: C;
        resize: none;
        border-color: black;
    }

    .selPriority {
        grid-area: D;
        color:     transparent;
    }

    .btnSave {
        grid-area: E;
    }

    .btnDelete {
        grid-area: F;
    }
}
